@page
@model MyPortfolioWebsite.Pages.Other.IndexModel
@{
    ViewData["Title"] = "Other";
    ViewData["Keywords"] = "other";
}

<div style="width: 100%; height: calc(100vh - 100px - 60px); display: flex; align-content: center; align-items: center; justify-content: center; padding: 0;">
    <img src="~/img/1aipt0.jpg" style="object-fit: contain; height: 100%; width: 100%;"/>
</div>
