@media screen and (max-width: 422px) {
    table {
        thead, tbody {
            tr {
                th, td {
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }

        thead > tr > th:nth-child(3) {
            border-top-right-radius: 20px;
        }

        tbody > tr:last-child > td:nth-child(3) {
            border-bottom-right-radius: 20px;
        }
    }
}
@media screen and (max-width: 355px) {
    table {
        thead, tbody {
            tr {
                th, td {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
}