@page
@model IndexModel
@section Scripts 
{
    <script src="~/js/home.bundle.js"></script>
}
@{
    ViewData["Title"] = "Home";
    ViewData["Keywords"] = "home";
}

<div id="home-3d-viewport">
</div>